{% extends 'base.html' %}

{% block content %}
<h1>{{ advertisement.title }}</h1>
<p>{{ advertisement.content }}</p>

<!-- Отображение изображения, если оно есть -->
{% if advertisement.image %}
    <img src="{{ advertisement.image.url }}" alt="{{ advertisement.title }}" style="max-width: 300px;">
{% endif %}

<!-- Отображение имени автора -->
<p>Author: {{ advertisement.author.username }}</p>  <!-- Добавлено отображение автора -->

<!-- Добавляем ссылку на редактирование, если пользователь является автором -->
{% if user.is_authenticated and advertisement.author == user %}
    <a href="{% url 'board:edit_advertisement' pk=advertisement.pk %}">Edit Advertisement</a>
    <a href="{% url 'board:delete_advertisement' pk=advertisement.pk %}">Delete Advertisement</a>
{% endif %}

{% endblock %}